<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignatura</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('./navbar.ejs')%>
    <div class="container">
        <div class="formulario">
            <h4>Datos de Asignatura</h4>
            <form action="/crearasignatura" method="POST">
                <div class="inputs">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" name="nombre" type="text" class="form-control" required>
                </div>
                <div class="inputs">
                    <label for="edad" class="form-label">Creditos</label>
                    <input id="creditos" name="creditos" type="number" class="form-control" required>
                </div>
        </div>
        <div class="boton">
            <button type="submit"><i class="bi bi-save"></i>Registrar Asignatura</button>
        </form>
        </div>

        <!-- Tabla Asignatura  -->
        <table id="tablaAsignatura" class="table mt-4">
            <thead>
                <tr>
                    <th style="display: none;">ID</th>
                    <th>Nombre</th>
                    <th>Creditos</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach( (data) => { %>
                    <tr>
                        <td style="display: none;"><%= data._id %></td>
                        <td><%= data.nombre %></td>
                        <td><%= data.creditos %></td>
                        <td>
                            <a type="button" class="btnEditar btn btn-primary bi bi-pencil"></a>
                            <a href="/borrarasignatura/<%= data._id %>" class="btn btn-danger bi bi-trash"></a>
                        </td>
                    </tr>

                <% }) %>
            </tbody>
        </table>
    </div>

    
    <!-- Modal para Editar   -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/editarasignatura" method="POST">
                        <input name="id_editar" id="id_editar" type="text" hidden>

                        <div class="mb-3">
                            <label for="nombre_editar" class="col-form-label">Nombre:</label>
                            <input id="nombre_editar" name="nombre_editar" type="text" class="form-control"
                                value="">
                        </div>
                        <div class="mb-3">
                            <label for="creditos_editar" class="col-form-label">Creditos:</label>
                            <input id="creditos_editar" name="creditos_editar" type="text" class="form-control"
                                value="">
                        </div>
                        

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="js/asignatura.js"></script>
</body>

</html>